/* this sets the font and color for my texts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Poppins, serif;
  margin-bottom: 5%;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}
/*NAV FOR DESKTOP VIEW*/
#navbar,
.nav-links {
  display: flex;
}
#navbar {
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  background-image: linear-gradient(to top, #f4afaf 0%, #f8c8c6 100%);
}
.nav-links {
  gap: 5em;
  list-style: none;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
ul {
  margin-bottom: 0px;
  position: relative;
  padding-left: 0rem;
  padding: 10px;
  z-index: 1;
}
a {
  text-decoration: none;
  color: black;
  transition: all 300ms ease;
}
a:hover {
  color: #6474e5;
  text-decoration: underline;
  text-underline-offset: 1em;
}
.logo {
  height: 90%;
  position: relative;
  left: 40px;
}
/* TOGGLE FOR PHONE VIEW */
#hamburger-nav {
  display: none;
  height: 12vh;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
  margin-left: auto;
  right: 5%;
  display: flex;
  align-items: center;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2em;
  width: 3em;
  cursor: pointer;
  margin-left: 70vw;
}
.hamburger-icon span {
  width: 100%;
  height: 0.1em;
  background-color: white;
  transition: all 0.3 ease-in-out;
}
.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-image: linear-gradient(to top, #f8c8c6 0%, #f4afaf 100%);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.menu-links a {
  display: block;
  padding: 10px 10px 10px 0px;
  text-align: center;
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links a:hover {
  color: #6474e5;
}
.menu-links li {
  list-style: none;
}
.menu-links.open {
  max-height: 300px;
  z-index: 1;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 10px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -12px);
}
.hamburger-icon span:first-child {
  transform: none;
  opacity: 1;
}

.title h1 {
  /*this does my page titles*/
  font-size: 3em;
  margin-left: 7%;
  margin-top: 1%;
  font-weight: 500;
  color: #6071f3;
}
.rotation h1 {
  /*this does my D team text under title*/
  font-size: 1.3em;
  margin-left: 7%;
  color: #9aa4ec;
}
#projects {
  /*this is for my rotation and curriculars page*/
  position: relative;
  margin: 3%;
}
.project-img {
  border-radius: 0.5em;
  width: 70%;
  height: 20%;
  margin-bottom: 20px;
}
.project-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.project-title {
  color: #8c97e9;
  font-size: 1.5em;
}
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
/* this acts as what the articile container does for rotation/curriculars but for the uni page */
.uni-containers img {
  border-radius: 0.5em;
  width: 55%;
  height: auto;
}
.uni-containers {
  justify-content: space-evenly;
  /* padding issues etc */
  /* also lee pls fix the image sizing thankyou */
}
.about-containers {
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
}
.about-details-container {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.details-container {
  padding: 1em;
  flex: 1;
  border-radius: 0.7em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #595959;
}
.details-container:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.details-container,
.feedback,
.uni-containers {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

.feedback {
  /*fbr page*/
  width: 85%;
  margin: auto;
  margin-bottom: 3em;
  margin-top: 2em;
  border-radius: 0.7em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}
.feedback h1 {
  font-size: 3em;
  padding-bottom: 10px;
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
}
.feedback h2 {
  font-size: 0.9rem;
}
.box-p {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 1.6rem;
}
.img-responsive {
  width: 70%;
  justify-content: center;
}

/* this is the styling for the footer at the bottom of my page */
.footer {
  width: 100%;
  height: 2.3%;
  background-image: linear-gradient(to top, #f4afaf 0%, #f8c8c6 100%);
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
}
.footer p {
  font-size: 0.7rem;
  margin-left: 20px;
  margin-top: 8px;
}
/* does my slide show */
.carousel-inner {
  height: 100%;
}
#carousel {
  width: 50%;
  height: auto;
  max-width: 1400px;
  margin: 20px auto;
  padding: 0;
}

/* stupid weird meeting screen settings */
@media screen and (max-width: 1920px) {
  .nav-links {
    font-size: 1em;
  }
  .box-p p {
    font-size: 0.9em;
  }
  .title h1 {
    font-size: 1.8em;
  }
  .rotation h1 {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 1400px) {
  .about-containers {
    flex-wrap: wrap;
  }
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #navbar {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    background-image: linear-gradient(to top, #f4afaf 0%, #f8c8c6 100%);
  }
  .about-containers {
    margin-top: 0;
  }
}
