/* this sets the font and color for my texts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins, serif;
  color: black;
  margin-bottom: 5%;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}
/*NAV FOR DESKTOP VIEW*/
#navbar,
.nav-links {
  display: flex;
}
#navbar {
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  background-image: linear-gradient(to top, #f4afaf 0%, #f8c8c6 100%);
}
.nav-links {
  gap: 8em;
  list-style: none;
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: black;
  transition: all 300ms ease;
}
a:hover {
  color: #6474e5;
  text-decoration: underline;
  text-underline-offset: 1.3em;
}
.logo {
  display: inline-flex;
  width: 6.3em;
  height: auto;
  margin-left: 23%;
}
/* TOGGLE FOR PHONE VIEW */

#hamburger-nav {
  display: none;
}
.hamburger-menu {
  position: fixed;
  display: inline-flex;
  left: 20px;
  top: 30px;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2em;
  width: 2.5em;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 0.1em;
  background-color: white;
}
.menu-links {
  position: absolute;
  top: 100;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
}
.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}
.menu-links.open {
  max-height: 7em;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
  transform: none;
  opacity: 1;
}

.title h1 {
  /*this does my page titles*/
  font-size: 3em;
  margin-left: 7%;
  margin-top: 1%;
  font-weight: 500;
  color: #6071f3;
}
.rotation h1 {
  /*this does my D team text under title*/
  font-size: 1.3em;
  margin-left: 7%;
  color: #9aa4ec;
}
#projects {
  /*this is for my rotation and curriculars page*/
  position: relative;
  margin: 3%;
}
.project-img {
  border-radius: 0.5em;
  width: 70%;
  height: 20%;
  margin-bottom: 20px;
}
.project-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.project-title {
  color: #8c97e9;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
}
.about-details-container {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.details-container {
  padding: 1em;
  flex: 1;
  border-radius: 0.7em;
  border: 0.1em solid #9aa4ec;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #595959;
}
.details-container,
.feedback,
.uni-cont {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.feedback {
  /*fbr page*/
  width: 85%;
  margin: auto;
  margin-bottom: 3em;
  margin-top: 1em;
  border-radius: 0.7em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feedback h1 {
  font-size: 3em;
  padding-bottom: 10px;
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
}
.feedback h2 {
  font-size: 1rem;
}
.box-p {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.box-p p {
  font-size: 1.6rem;
}
.box-p span {
  color: #6474e5;
}
.img-responsive {
  width: 70%;
  justify-content: center;
}
.uni-cont {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  border-radius: 0.9em;
  border: 0.1em solid #9aa4ec;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.uni-img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 0.9em;
  padding: 30px 0px 0px 50px;
}

/* this is the styling for the footer at the bottom of my page */
.footer {
  width: 100%;
  height: 3%;
  background-color: #e4c2c1;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
}
.footer p {
  font-size: 1rem;
  margin-left: 20px;
  margin-top: 6px;
}
.carousel-inner {
  height: 100%;
}
#carousel {
  width: 50%;
  height: auto;
  max-width: 1400px;
  margin: 20px auto;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  /*this will display the burger icon nav bar when the page is smaller and hide the normal top navlinks */
  #navbar {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    background-color: black;
  }
}
@media screen and (max-width: 1400px) {
  .about-containers {
    flex-wrap: wrap;
  }
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #navbar {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .about-containers {
    margin-top: 0;
  }
}
