/* WRAPPERS */

#Wrapper-main{
    width: 1800px;
    height: 100%;
    border: 1px solid rgb(51, 50, 50);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: rgb(97, 96, 96);
}/*This is the styling for the home wrapper*/
#wrapper-pages{
    width: 2000px;
    height: 100%;
    border: 1px solid rgb(44, 43, 43);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: rgb(123, 120, 123);
}/*this is the styling for the other page wrappers*/
.footer{
  width:100%;
  height: 50px;
  background-color: rgb(39, 38, 38);
  margin: 0;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  z-index: 10;
}/*this is the styling for the footer at the bottom of my page*/



/* NAV BAR AND PAGE LINKS*/

.navbar{
    margin: 0;
    background-color:rgb(49, 49, 49);
    position: fixed;
    width: 100%;
    height: 130px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: block;
    /* cursor: pointer; */



}/*this does the navigation bar of the home page and overlays it on top of my wrapper*/

.menu{
    width: 400px;
    float: left;
    height: 70px;
  }
  
  ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: left;
  }
  
  ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 22px;
  
  }
  
  ul li a:link, a:visited {
    color: rgb(234, 229, 229);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
               
  a:hover, a:active {
    color: rgb(106, 36, 228);
}/*this creates the menu options that sit inside the nav bar and open up the other pages*/




/* ANY HEADING STYLING OR TEXT FOR PAGES*/

.header h1{ /*this is for end of rotatation heading*/
  padding: 20px;
  margin-top: 150px;
  text-align: center;
  padding-left: 600px;
  color: rgb(3, 3, 3);
  font-size: 65px;
  height: 50px;
  font-family: Arial;
  position:fixed;
}
 .header p{ /*this is for DSM and my name subheading*/
  padding: 20px;
  margin-top: 280px;
  text-align: center;
  padding-left: 670px;
  color: rgb(3, 3, 3);
  font-size: 40px;
  height: 30px;
  position: fixed;
 }
.header h2{/*this does my page headings for each navbar redirection*/
  font-size: 50px;
  color: black;
  margin-top: 150px;
  padding: 20px;
  height: 40px;
  text-align: left;
}


/* MY IMAGES */

.imgBT{/*BT logo on main page*/
  margin-top: 400px;
  height: 25px;
  padding-left: 580px;
}
.imgBrum{ /*birmingham image from event for EC*/
  margin-top: 140px;
  height: 20px;
  padding-left: 90px; 
  width: 20px;
}



/* SEARCH BAR STYLING*/

.search{
  width: 330px;
  float: right;
  margin-left: 270px;
}

.srch{
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid rgb(232, 232, 236);
  margin-top: 3px;
  margin-right: 5px;
  color: rgb(234, 226, 226);
  border-right: 2px;
  font-size: 16px;
  float: right;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
/*this controls the appearance and function of the search bar that you type into*/

.btn{
  width: 90px;
  height: 40px;
  background-color: rgb(117, 117, 117);
  border: 1px solid rgb(251, 247, 247);
  margin-top: 3px;
  float: right;
  color: rgb(245, 234, 234);
  font-size: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/*this controls the actual search button below the text bar*/



