/* this styles the subheading for my uni page */

.subhead img {
  margin-left: 5%;
  display: inline-block;
  width: 20rem;
  height: auto;
}
#web-server .pic1 {
  margin-left: 3%;
  min-width: 30rem;
  max-width: 40rem;
  height: auto;
  display: flex;
}
#web-server .pic2 {
  margin-left: 50%;
  min-width: 30rem;
  max-width: 40rem;
  height: auto;
  display: flex;
}
#web-server figcaption {
  text-align: center;
  margin-left: 3%;
  background-color: #c6c3c3;
  max-width: 40rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* DROPDOWN FEATURE*/
/* Dropdown Button */
.dropbtn {
  background-color: #8007f1;
  color: white;
  padding: 20px;
  font-size: 20px;
  min-width: 300px;
  display: flex;
  top: 0;
  border-top-right-radius: 4%;
  border-bottom-left-radius: 4%;
}

/* The container div to position content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-top: 130px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #5f5d61;
}
